<div class="container" data-ng-controller="NavigationBarController">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">
      <img class="navbar-logo" src="modules/core/img/brand/codeaux_logo_wordmark.png" alt="Codeaux">
    </a>

    <!-- For screen readers -->
    <button class="navbar-toggle btn-navbar" data-ng-click="toggleCollapsibleMenu()">
      <span class="sr-only">Toggle navigation bar</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
    <ul class="nav navbar-nav" data-ng-show="navBarMenu.hasAccess(authentication.user);">
      <li data-ng-repeat="item in navBarMenu.items | orderBy: 'position'"
          data-ng-if="item.hasAccess(authentication.user);" dropdown="item.type === 'dropdown'">
        <a class="dropdown-toggle" dropdown-toggle>
          <span data-ng-bind="item.title"></span>
          <span class="caret"></span>
        </a>
        <ul  class="dropdown-menu" role="menu">
          <li data-ng-repeat="subitem in item.items | orderBy: 'position'"
              data-ng-if="subitem.hasAccess(authentication.user);"
              ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
            <a ui-sref="{{subitem.state}}" data-ng-bind="subitem.title"></a>
          </li>
        </ul>
      </li>
    </ul>

    <!-- For guests -->
    <ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
      <li>
        <button class="btn btn-success navbar-btn" ng-click="signUpModal.openModal()">Sign up</button>
      </li>
      <li class="divider-vertical">&nbsp;&nbsp;&nbsp;</li>
      <li>
        <button class="btn btn-block btn-default navbar-btn" ng-click="signInModal.openModal()">Sign in</button>
      <li>
      <li class="divider-vertical">&nbsp;&nbsp;&nbsp;&nbsp;</li>
    </ul>

    <!-- For members -->
    <ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
      <li class="dropdown" dropdown>
        <a class="dropdown-toggle" dropdown-toggle>
          <span data-ng-bind="authentication.user.username"></span>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a href="settings/profile">Edit Profile</a>
          </li>
          <li>
            <a href="settings/accounts">Manage Social Accounts</a>
          </li>
          <li data-ng-show="authentication.user.provider === 'local'">
            <a href="settings/password">Change Password</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="auth/signout" target="_self">Sign out</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
