<div data-ng-controller="AuthenticationController">
  <!-- Close button. ARIA attributes for screen readers. -->
  <button type="button" class="pull-right btn-lg btn-link" aria-label="Close" ng-click="dismissModal()">
    <span aria-hidden="true">&times;</span>
  </button>

  <div class="modal-header">
    <h4 class="modal-title"><strong>Create an account</strong></h4>
  </div>

  <div class="container-fluid">
    <div class="modal-body">
      <form name="signUpForm" data-ng-submit="signup()" novalidate autocomplete="off">
        <fieldset>

          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon" aria-label="Pick a username">
                <span class="glyphicon glyphicon-user"></span>
              </span>
              <input type="text" id="username" name="username" class="form-control"
                     data-ng-model="credentials.username" placeholder="Pick a username" autofocus validate-username>
            </div>
          </div>

          <span ng-messages="signUpForm.username.$error">
            <div ng-hide="usernameErrorMessage == null" class="form-group">
              <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span ng-message="usernameValidation">{{ usernameErrorMessage }}</span>
              </div>
            </div>
          </span>

          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon" aria-label="Your email">
                <span class="glyphicon glyphicon-envelope"></span>
              </span>
              <input type="email" id="email" name="email" class="form-control"
                     data-ng-model="credentials.email" placeholder="Your email" validate-email>
            </div>
          </div>

          <span ng-messages="signUpForm.email.$error">
            <div ng-hide="emailErrorMessage == null" class="form-group">
              <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span ng-message="emailValidation">{{ emailErrorMessage }}</span>
              </div>
            </div>
          </span>

          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon" aria-label="Create a password">
                <span class="glyphicon glyphicon-lock"></span>
              </span>
              <input type="password" id="password" name="password" class="form-control"
                     data-ng-model="credentials.password" placeholder="Create a password" validate-password>
            </div>
          </div>

          <span ng-messages="signUpForm.password.$error">
            <div ng-hide="passwordErrorMessage == null" class="form-group">
              <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span ng-message="passwordValidation">{{ passwordErrorMessage }}</span>
              </div>
            </div>
          </span>

          <div class="form-group">
            <div class="text-center">
              &nbsp;
              <button type="submit" class="btn btn-success">Sign up</button>
              &nbsp;&nbsp;
              <button type="button" class="btn btn-default" ng-click="dismissModal()">Cancel</button>
              <br><br>
              <a ng-click="dismissModal();signInModal.openModal()">Already have an account?</a>
            </div>
          </div>
        </fieldset>
      </form>

      <div class="form-group or-group">
        <span class="or-line"><strong>or sign up with</strong></span>

        <div class="text-center" data-toggle="tooltip">
          <a class="btn btn-social-icon btn-facebook" href="/auth/facebook" target="_self" title="Facebook">
            <i class="fa fa-facebook"></i>
          </a>
          <a class="btn btn-social-icon btn-github" href="/auth/github" target="_self" title="Github">
            <i class="fa fa-github"></i>
          </a>
          <a class="btn btn-social-icon btn-google" href="/auth/google" target="_self" title="Google+">
            <i class="fa fa-google"></i>
          </a>
          <a class="btn btn-social-icon btn-openid" href="/auth/nus_openid" target="_self" title="NUS OpenID">
            <i class="fa fa-openid"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
