<!DOCTYPE html>
<html lang="en">

<!-- HTML META Tags -->
<meta charset="UTF-8">

<!-- IE META Tags -->
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">

<!-- Apple-Specific META Tags -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="white">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- Semantic Web META Tags -->
<meta name="keywords" content="{{keywords}}">
<meta name="description" content="{{description}}">

<!-- Facebook Open Graph META Tags -->
<meta property="fb:app_id" content="{{facebookAppId}}">
<meta property="og:site_name" content="{{title}}">
<meta property="og:title" content="{{title}}">
<meta property="og:description" content="{{description}}">
<meta property="og:url" content="{{url}}">
<meta property="og:image" content="{{url}}{{logo}}">
<meta property="og:type" content="website">

<title>{{title}}</title>

<!-- HTML5 base URL for application -->
<base href="/">

<!-- Fav Icon (Tab Icon)-->
<link href="{{url}}{{favicon}}" rel="shortcut icon" type="image/x-icon">

<!--Application CSS Files-->
{% for cssFile in cssFiles %}<link rel="stylesheet" href="{{cssFile}}">
{% endfor %}

<body class="ng-cloak">
  <header  class="navbar navbar-default">
    <div class="navbar-inner" data-ng-include="'/modules/core/views/navigationbar.client.view.html'">
    </div>
  </header>

  <section class="content">
    <section class="container">
      {% block content %}{% endblock %}
    </section>
  </section>

  <!--Embedding The User Object-->
  <script type="text/javascript">
    var user = {{ user | json | safe }};
  </script>

  <!--Load The Socket.io File-->
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>

  <!--Application JavaScript Files-->
  {% for jsFile in jsFiles %}<script type="text/javascript" src="{{jsFile}}"></script>
  {% endfor %}

  {% if livereload %}
  <!--Livereload script rendered -->
  <script type="text/javascript" src="{{host}}:35729/livereload.js"></script>
  {% endif %}
</body>

</html>
