# iOS / Apple
# ===========
.DS_Store
ehthumbs.db
Icon?
Thumbs.db

# Application Assets
# ==================
*.pem
.env
db/
modules/users/client/img/profile/uploads
public/dist/
uploads/

# Node & Related
# ==============
.nodemonignore
npm-debug.log
.sass-cache/
node_modules/
public/lib/
app/tests/coverage/
.bower-*/
.idea/

# General Extensions
# ==================
*.bak
*.csv
*.dat
*.gz
*.log
*.out
*.pid
*.swp
*.tmp
logs/
builds/

# Brackets.io
# ===========
.brackets.json

# Cloud9 IDE
# ==========
mongod
.c9/
data/

# Eclipse IDE
# ===========
.project
.*.md.html
.metadata
*~.nib
local.properties
.settings/

# IntelliJ Idea
# =============
*.iml

# Sublime Text
# ============
.sublime-project
*.sublime-project
*.sublime-workspace

# Visual Studio
# =============
*.suo
*.ntvs*
*.njsproj
*.sln
