<section data-ng-controller="CreateIssuesController" data-ng-init="getInfo()">
  <div class="page-header">
    <h1>New Issue</h1>
  </div>

  <div class="col-md-12">
    <form class="form-horizontal" data-ng-submit="create()" novalidate>
      <fieldset>
        <div class="form-group input-group">
          <span class="input-group-addon"><strong>Name</strong></span>
          <div class="controls">
            <input type="text" data-ng-model="title" id="title" class="form-control" placeholder="Title" required>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="description">Description</label>
          <div class="controls">
            <textarea rows="5" data-ng-model="description" id="description" class="form-control" placeholder="Description" required>
            </textarea>
          </div>
        </div>

        <div class="form-group">
            <div class="controls">
              <label class="control-label checkbox-inline" for="isPrivate">
                <input type="checkbox" data-ng-model="isPrivate" id="isPrivate"
                     ng-true-value="1" ng-false-value="0">
                <strong>Private</strong>
              </label>
            </div>
          </label>
        </div>

        <div class="form-group input-group" data-ng-if="isPrivate == 1">
          <div class="controls">
            <div class="table-responsive">
              <table class="table table-hover" style="table-layout:fixed">
                <caption>Issue Permissions for Friends</caption>
                <col width="5px" />
                <col width="55px" />
                <col width="30px" />
                <tr>
                  <th>#</th>
                  <th>Friends</th>
                  <th>Permissions</th>
                </tr>
                <tr data-ng-repeat="eachFriend in myFriends">
                  <td>
                    <p>{{$index + 1}}</p>
                  </td>
                  <td style="overflow:hidden">
                    <img data-ng-src="{{eachFriend.imageUrl}}" class="pull-left"
                         style="border-radius:50%; height:40px; width:40px"/>
                    <h3 class="list-group-item-heading">{{eachFriend.username}}</h3>
                    <p>{{eachFriend.name}}</p>
                  </td>
                  <td>
                    <select data-ng-model="permissions[$index]">
                      <option value="ReadWrite">Read Write</option>
                      <option value="ReadOnly">Read Only</option>
                      <option value="None">None</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td colspan="3">
                    <center><strong>-- End of Permissions Settings --</strong></center>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <div class="form-group">
          <input type="submit" class="btn btn-default">
        </div>

        <div data-ng-show="error" class="text-danger">
          <strong data-ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
