<section data-ng-controller="FriendsIssuesController" data-ng-init="find()">
  <div class="page-header">
    <h1>Friends Issues &nbsp
      <span style="color:#FF7400">
        <select data-ng-model="issueType">
          <option value="Public">Public</option>
          <option value="Private">Private</option>
        </select>
      </span>
    </h1>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <h3>{{issueType}} Issues</h3>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-hover" style="table-layout:fixed">
      <col width="15px" />
      <col width="75px" />
      <tr>
        <th>#</th>
        <th>Title & Description</th>
      </tr>
      <tr data-ng-repeat="issue in currentIssues">
        <td>
          <p>{{$index + 1}}</p>
        </td>
        <td style="overflow:hidden">
          <a data-ui-sref="issues.view({issueId: issue._id})">
            <h3 class="list-group-item-heading">{{issue.title}}</h3>
          </a>
          <p>{{issue.description}}</p>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <center><strong>-- End of {{issueType}} Issues --</strong></center>
        </td>
      </tr>
    </table>
  </div>
</section>
