<section data-ng-controller="MyIssuesController" data-ng-init="find()">
  <div class="page-header">
    <h1>My Issues</h1>
  </div>

  <div>
    <button type="button" class="btn btn-info btn-lg active" ng-click="showPublicIssues()">Public Issues</button>
    <button type="button" class="btn btn-info btn-lg active" ng-click="showPrivateIssues()">Private Issues</button>
  </div>

  <br>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{issuesToShow}}</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-4">
          <label>Items Per Page:</label>
          <input min="1" max="20" ng-model="issuesPerPage" class="form-control">
        </div>
      </div>

      <br>

      <div class="list-group">
        <a data-ng-repeat="issue in pagedIssues" data-ui-sref="issues.view({issueId: issue._id})" class="list-group-item">
          <h4 class="list-group-item-heading">Title: {{issue.name}}</h4>
          <p>Description: {{issue.description}}</p>
        </a>
        <pagination
          ng-model="currentPage"
          total-items="currentIssues.length"
          max-size="numOfPageIcons"
          boundary-links="true"
          items-per-page="issuesPerPage">
        </pagination>
      </div>
    </div>
  </div>

</section>
