<section data-ng-controller="MyIssuesController" data-ng-init="find()">
  <div class="page-header">
    <h1>My Issues</h1>
  </div>

  <div>
    <button type="button" class="btn btn-info btn-lg active" ng-click="showPublicIssues()">Public Issues</button>
    <button type="button" class="btn btn-info btn-lg active" ng-click="showPrivateIssues()">Private Issues</button>
  </div>

  <br>

  <div class="panel panel-default">
    <div class="panel-body">
      <h3>{{issuesToShow}}</h3>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-hover" style="table-layout:fixed">
      <col width="5px" />
      <col width="65px" />
      <col width="20px" />
      <tr>
        <th>#</th>
        <th>Title & Description</th>
        <th>Permissions</th>
      </tr>
      <tr data-ng-repeat="issue in currentIssues">
        <td>
          <p>{{$index + 1}}</p>
        </td>
        <td style="overflow:hidden">
          <a data-ui-sref="issues.view({issueId: issue._id})">
            <h3 class="list-group-item-heading">{{issue.name}}</h3>
          </a>
          <p>{{issue.description}}</p>
        </td>
        <td>
          <div data-ng-if="issuesToShow == 'Public Issues'">
            <p>Available To All</p>
          </div>
          <div data-ng-if="issuesToShow == 'Private Issues'">
            <button type="button" class="btn btn-primary" data-ui-sref="issues.permissions({issueId: issue._id})">View / Edit Permissions
            </button>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <center><strong>-- End of {{issuesToShow}} --</strong></center>
        </td>
      </tr>
    </table>
  </div>
</section>
