<section class="row" data-ng-controller="FindFriendsController" data-ng-init="getInfo()">
  <div class="page-header">
    <h1>Find Friends</h1>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-12">
      <div class="input-group">
        <input type="text" class="form-control" ng-model="query" placeholder="Search for ...">
        <span class="input-group-btn">
          <button class="btn btn-primary" ng-click="search()">Find</button>
        </span>
      </div>
    </div>
  </div>
  <br>

  <div class="table-responsive">
    <table class="table table-hover" style="table-layout:fixed">
      <col width="5px" />
      <col width="65px" />
      <col width="20px" />
      <tr>
        <th>#</th>
        <th>People</th>
        <th>Friend Status</th>
      </tr>
      <tr data-ng-repeat="eachUser in foundUsers">
        <td>
          <p>{{$index + 1}}</p>
        </td>
        <td style="overflow:hidden">
<!--      <a data-ui-sref=""> -->
            <img data-ng-src="{{eachUser.imageUrl}}" class="pull-left" style="border-radius:50%; height:40px; width:40px"/>
            <h3 class="list-group-item-heading">{{eachUser.username}}</h3>
            <p>{{eachUser.name}}</p>
<!--      </a> -->
        </td>
        <td>
          <div data-ng-if="statuses[$index] == 'friend'">
            <button type="button" class="btn btn-warning" ng-click="unfriend($index)">Unfriend
            </button>
          </div>

          <div data-ng-if="statuses[$index] == 'stranger'">
            <button type="button" class="btn btn-primary" ng-click="sendRequest(eachUser, $index)">Send Friend Request
            </button>
          </div>

          <div data-ng-if="statuses[$index] == 'awaitingReply'">
            <p>Friend Request Sent</p>
          </div>

          <div data-ng-if="statuses[$index] == 'toReply'">
            <button type="button" class="btn btn-success" ng-click="acceptRequest($index)">Accept Friend
            </button>
            <button type="button" class="btn btn-danger" ng-click="rejectRequest($index)">Reject Friend
            </button>
          </div>

          <div data-ng-if="statuses[$index] == 'error'">
            <p>{{err}}</p>
          </div>

        </td>
      </tr>
      <tr>
        <td colspan="3">
          <center><strong>-- End of Search --</strong></center>
        </td>
      </tr>
    </table>
  </div>

</section>
