<section class="row" data-ng-controller="EditProfileController">
  <div class="panel panel-default">
    <div class="panel-heading"><strong>Profile Settings</strong></div>
    <div class="panel-body">
      <div class="col-md-5">
        <div class="text-center">
          <div class="text-left" style="margin: 0 0 5px 0;"><Strong>Profile Picture</Strong></div>
          <img class="img-thumbnail user-profile-avatar" data-ng-src="{{user.imageUrl}}" alt="{{user.name}}" >

          <div data-ng-show="successUpload" class="text-success" style="margin: 10px 0 10px 0">
            <strong>Upload Picture Successfully!</strong>
          </div>
          <div data-ng-show="errorUpload" class="text-danger" style="margin: 10px 0 10px 0">
            <strong data-ng-bind="errorUpload"></strong>
          </div>

          <div data-ng-hide="uploader.queue.length" style="margin: 10px 0 10px 0">
            <button class="btn btn-default btn-file">
                Upload new picture <input type="file" nv-file-select uploader="uploader">
            </button>
          </div>
          <div data-ng-show="uploader.queue.length" style="margin: 10px 0 10px 0">
            <button class="btn btn-success" data-ng-click="uploadProfilePicture();">Upload</button>
            &nbsp;
            <button class="btn btn-default" data-ng-click="cancelUpload();">Cancel</button>
          </div>
        </div>
      </div>

      <div class="custom-divider-vertical"></div>

      <div class="col-md-6">
        <form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)"
            class="signin" autocomplete="off">
          <fieldset>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" id="name" name="name" class="form-control"
                     data-ng-model="user.name" placeholder="Name">
            </div>

            <div class="form-group">
              <label for="location">Location</label>
              <input type="text" id="location" name="location" class="form-control"
                     data-ng-model="user.location" placeholder="Location">
            </div>

            <div class="form-group">
              <label for="link">Link</label>
              <input type="link" id="link" name="link" class="form-control"
                     data-ng-model="user.link" placeholder="Link">
            </div>
          </fieldset>

          <div class="text-center form-group">
            <div data-ng-show="success" class="text-success">
              <strong>Profile Saved Successfully!</strong>
            </div>
            <div data-ng-show="error" class="text-danger">
              <strong data-ng-bind="error"></strong>
            </div>
          </div>

          <div class="text-center form-group">
            <button type="submit" class="btn btn-success">Save Profile</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
